<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>[Kira]-[$!{env}环境]-定时任务子任务执行报警!</title>
		<style type="text/css">
			th {
					width:20%;
					background-color:#E5EEF8;
					font-weight:bold;
					text-align:left;
				}
		</style>       
    </head>
    <body>
        <p>
           <a href="$!{kiraManagerUrlPath}">Kira平台($!{env}环境)入口</a>
        </p>
        <p/>
    	<table border="1"> 	
    		<tr>
    			<th>jobItemId</th>
    			<td>$!{jobItemAlarmMessage.jobItemId}</td>
    		</tr>    	
    		<tr>
    			<th>AppId</th>
    			<td>$!{jobItemAlarmMessage.appId}</td>
    		</tr>
    		<tr>
    			<th>定时任务Id</th>
    			<td>$!{jobItemAlarmMessage.triggerId}</td>
    		</tr>
    		<tr>
    			<th>定时任务版本</th>
    			<td>$!{jobItemAlarmMessage.triggerVersion}</td>
    		</tr> 
    		<tr>
    			<th>定时任务描述信息</th>
    			<td>$!{jobItemAlarmMessage.triggerDescription}</td>
    		</tr> 
    		<tr>
    			<th>定时任务子任务执行开始时间</th>
    			<td>$!{jobItemAlarmMessage.jobItemCreateTimeAsString}</td>
    		</tr>
    		<tr>
    			<th>定时任务子任务执行当前状态</th>
    			<td>$!{jobItemAlarmMessage.jobStatusName}</td>
    		</tr>
    		<tr>
    			<th>定时任务子任务执行地点</th>
    			<td>$!{jobItemAlarmMessage.serviceUrl}</td>
    		</tr>    		
    		<tr>
    			<th>定时任务子任务执行相关信息</th>
    			<td>$!{jobItemAlarmMessage.alarmMessage}</td>
    		</tr>     		 		   		  		   		   		    		
    	</table>
    </body>
</html>